{% extends 'home/layout.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">U.S. Chronic Disease Indicator</h3>
    <p class="lead"> 

         CDC's Division of Population Health provides cross-cutting set of 124 indicators that were developed by consensus and that
        allows states and territories and large metropolitan areas to uniformly define, collect, and report chronic disease data
        that are important to public health practice and available for states, territories and large metropolitan areas. In addition
        to providing access to state-specific indicator data, the CDI web site serves as a gateway to additional information and
        data resources.
    </p>
</div>

    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            <option>temp </option>
            <option>foo</option>
            <option>dummy</option>
            <option>dummy3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            <option>temp </option>
            <option>foo</option>
            <option>dummy</option>
            <option>dummy3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1">
            <option>temp </option>
            <option>foo</option>
            <option>dummy</option>
            <option>dummy3</option> 
        </select>
    </div>
<button type="button" class="btn">Search</button>
{% endblock %}