{% extends 'home/layout.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">U.S. Chronic Disease Indicator</h3>
    <p class="lead"> 
         CDC's Division of Population Health provides cross-cutting set of 124 indicators that were developed by consensus and that
        allows states and territories and large metropolitan areas to uniformly define, collect, and report chronic disease data
        that are important to public health practice and available for states, territories and large metropolitan areas. In addition
        to providing access to state-specific indicator data, the CDI web site serves as a gateway to additional information and
        data resources.
        <br>
    </p>
    <div style='display:inline;'>
    <form action="" method="post">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary" name="submit" value="submit" onclick="form.submit()">Data set has: {{total}} tuples</button></p>
    </form>
    
    </div>
    
</div>

<br>
<br>


<div class="container">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- Canva JS -->
    <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
    
    <style scoped>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
    

    <h3 class="lead">Select your categories of interest and see all available data</h3>

    {% for row in main_content %}
        <h3><button id='btn_{{row.title}}' class="btn btn-success"> Select </button>
            <label for="sel"> {{row.title}}: {{row.save}} </label>
        </h3>        
        <div id='modal_{{row.title}}' class="modal">
            <div class="modal-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <h4>{{row.title}}</h4>
                    {% for rows in row.fields %}
                        <input type="checkbox" value="{{rows}}" name="choices[]"><span>{{rows}}</span><br>
                    {% endfor %}
                    <br><button type="submit" class="{{btn_class}}" name="{{row.title}}" value="{{row.title}}" onclick="form.submit()">Done</button><br>
                </form>
            </div>
        </div>
    {% endfor %}

    <br>

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="search" value="search" onclick="form.submit()">Run the search</button>
    </form>
    <br>



    <script>
        var modal_topics = document.getElementById('modal_Topics');
        var modal_questions = document.getElementById("modal_Questions");  
        var modal_indicator = document.getElementById("modal_Indicator");  
        var modal_year = document.getElementById("modal_Year");  
        var modal_location = document.getElementById("modal_Location");  
        var modal_population = document.getElementById("modal_Population"); 

        var btn_topics = document.getElementById("btn_Topics");
        var btn_questions = document.getElementById("btn_Questions");  
        var btn_indicator = document.getElementById("btn_Indicator");  
        var btn_year = document.getElementById("btn_Year");  
        var btn_location = document.getElementById("btn_Location");  
        var btn_population = document.getElementById("btn_Population");  


        btn_topics.onclick = function() {
            modal_topics.style.display = "block";
        }

        btn_questions.onclick = function() {
            modal_questions.style.display = "block";
        }

        btn_indicator.onclick = function() {
            modal_indicator.style.display = "block";
        }

        btn_year.onclick = function() {
            modal_year.style.display = "block";
        }

        btn_location.onclick = function() {
            modal_location.style.display = "block";
        }

        btn_population.onclick = function() {
            modal_population.style.display = "block";
        }

        window.onclick = function(event) {
            if (event.target == modal_topics) {
                modal_topics.style.display = "none";
            }
        }
    </script>

    {% if ans %}

        </form>
    <form action='' method='post'>
        {% csrf_token %}
        <button type='submit' class='btn btn-primary' name='export' value='export' onclick='form.submit()'>Export csv file</button>
    </form>
    <br>
    <form action='' method='post'>
        {% csrf_token %}
        <button type='submit' class='btn btn-primary' name='refresh' value='refresh' onclick='form.submit()'>Refresh</button>
    </form>
    <div>
        <div class='container text-center'> 

            <h4> All Results  </h4>
                       
            <table class='table table-fixed' style="height: 100%; width: 80%; display: inline-block;  height: 400px;
            overflow-y: auto" >
                <thead>
                    <tr>
                    {% for i in ans.0 %}
                        <td>{{i}}</td>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in ans %}
                    <tr>
                        {% for key, value in row.items %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}


</div>
{% endblock %}
