{% extends 'home/layout.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">U.S. Chronic Disease Indicator</h3>
    <p class="lead"> 
         CDC's Division of Population Health provides cross-cutting set of 124 indicators that were developed by consensus and that
        allows states and territories and large metropolitan areas to uniformly define, collect, and report chronic disease data
        that are important to public health practice and available for states, territories and large metropolitan areas. In addition
        to providing access to state-specific indicator data, the CDI web site serves as a gateway to additional information and
        data resources.
        <br>
    </p>
    <div style='display:inline;'>
    <form action="" method="post">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary" name="submit" value="submit" onclick="form.submit()">Data set has: {{total}} tuples</button></p>
    </form>
    
    </div>
    
</div>

<br>
<br>
<br>
<br>

<div class="container">
    <h3 class="mt-5"> Advanced search </h3>
        <p class="lead"> Select your categories of interest and see all available data</p>    


{% for row in main_content %}
    <div>

        <!-- <style scoped>
        
            label.btn span {
            font-size: 1.5em ;
            }

            label input[type="radio"] ~ i.fa.fa-circle-o{
                color: #c8c8c8;    display: inline;
            }
            label input[type="radio"] ~ i.fa.fa-dot-circle-o{
                display: none;
            }
            label input[type="radio"]:checked ~ i.fa.fa-circle-o{
                display: none;
            }
            label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
                color: #7AA3CC;    display: inline;
            }
            label:hover input[type="radio"] ~ i.fa {
            color: #7AA3CC;
            }

            label input[type="checkbox"] ~ i.fa.fa-square-o{
                color: #c8c8c8;    display: inline;
            }
            label input[type="checkbox"] ~ i.fa.fa-check-square-o{
                display: none;
            }
            label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
                display: none;
            }
            label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
                color: #7AA3CC;    display: inline;
            }
            label:hover input[type="checkbox"] ~ i.fa {
            color: #7AA3CC;
            }

            div[data-toggle="buttons"] label.active{
                color: #7AA3CC;
            }

            div[data-toggle="buttons"] label {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 2em;
            text-align: left;
            white-space: nowrap;
            vertical-align: top;
            cursor: pointer;
            background-color: none;
            border: 0px solid 
            #c8c8c8;
            border-radius: 3px;
            color: #c8c8c8;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            }

            div[data-toggle="buttons"] label:hover {
            color: #7AA3CC;
            }

            div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
            -webkit-box-shadow: none;
            box-shadow: none;
            }
    
        </style> -->

        <div class="container">
            <form action="">
                <hr> {{row.title}}:
                <br>
                <br>
                {% for row2 in row.fields %}
                    <input type="checkbox" name='email1'>
                    <span>{{row2}}</span>
                    <br>
                {% endfor %}
            </form>
        </div>

        <!-- <div>
            <hr> {{title}}:
                <br>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn ">
                    <input type="checkbox" name='email1' checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> Marketing Email</span>
                </label>
                </div>
        </div> -->
    </div>
{% endfor %} 

   
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="submit" value="submit" onclick="form.submit()">Submit</button>
        </form> 
    </div>

<!-- {% for row in national_avg_content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel">{{row.title}}: {{row.save}}</label>
            <select class="form-control" id="{{row.title}}" name="{{row.title}}" onchange="form.submit()" {{row.disabled}}>
                {% for row2 in row.fields %}
                <option>{{row2}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
{% endfor %} -->

<!-- 

<div>
    <h2>Checkbox</h2>
    <form action="" method="post">
        {% for row in main_content %}
        <input id="{{row.title}}" type="checkbox" name="{{row.title}}" value="{{row.save}}"><br>
        {% endfor %}
    </form>
    {% csrf_token %}
</div>


<div class="container">
    <style scoped>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>

    <table class="table">
        <thead class="thead-dark">

        </thead>
        <tbody>    
            {% for row in ans %}
            <tr>
                <td>{{row}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div> -->

</div>

{% endblock %}
