{% extends 'home/layout.html' %} {% block content %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="container">
    <h2 class="mt-5">Which states have a &ltdata value type&gt for &ltindicator ID&gt in a certain year that is above/below the national average?</h3>
        <p class="lead">
            
        </p>
</div>
<br>
{% for row in national_avg_content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel">{{row.title}}: {{row.save}}</label>
            <select class="form-control" id="{{row.title}}" name="{{row.title}}" onchange="form.submit()" {{row.disabled}}>
                {% for row2 in row.fields %}
                <option>{{row2}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
{% endfor %}
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="{{btn_class}}" name="submit" value="submit" onclick="form.submit()">Submit</button>
</form>
<br>
{% if ans %}

<!-- <div class="container-fluid text-center text-md-left"> -->
    <!-- <h3>States {{ans5}} the National Average of {{national_avg}} in {{ans4}} for {{ans3}} in {{ans2}} </h3> -->
   
    <!-- <br/>
</div>

-->
<div>
    <div class='container text-center' >
        <table class='table table-striped' style='display: inline;'>
            <thead>
                <tr>
                {% for i in ans.0 %}
                    <td>{{i}}</td>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in ans %}
                <tr>
                    {% for key, value in row.items %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="chartContainer" style="height: 100%; width: 100%; display: inline-block"></div>
</div>

<script type='text/javascript'>
    
    window.onload = function () {
        data_from_django = jQuery.parseJSON('{{json_data|safe}}');
        console.log(data_from_django);
        var i;
        var data = [];
        for (i=0; i<data_from_django.length; i++){
            var a = data_from_django[i].LOCATION_DATA_VALUE
            var b = data_from_django[i].NAME
            var point = {y: a, label: b}
            data.push(point)
        }
        var text2 = 'States '+ jQuery.parseHTML('{{ans5|safe}}')+" the National Avg of in "+jQuery.parseHTML('{{ans4|safe}}')
        console.log(text2)
        console.log(data);
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: ''
            },
            axisX:{
                interval: 1
            },
            axisY: {
                title: "Percentage",
                
            },
            axisY2: {
                
            },
            data: [{
                type: "bar",
                showInLegend: true,
                legendMarkerColor: "grey",
                axisYType: "secondary",
                legendText: "States",
                dataPoints: data
            }]
            
        });
        chart.render();

    }
</script>
{% endif %}
{% endblock %}