{% extends 'home/layout.html' %} {% block content %}
<div class="container">
    <h1 class="mt-5">Query 3</h3>
        <p class="lead">
            Which states (top 10) had the highest/lowest &ltdata value type&gt for &ltindicator ID&gt for &ltpopulation ID&gt?
        </p>
</div>
<br>
{% for row in query3_content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel">{{row.title}}: {{row.save}}</label>
            <select class="form-control" id="{{row.title}}" name="{{row.title}}" onchange="form.submit()" {{row.disabled}}>
                {% for row2 in row.fields %}
                <option>{{row2}}</option>
                {% endfor %}
            </select>

        </div>
    </form>
</div>
{% endfor %}
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="{{btn_class}}" name="submit" value="submit" onclick="form.submit()">Submit</button>
</form>

<table>
    </tr>
    {% for row in ans %}
    <tr>
        <td>{{row}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}