{% extends 'home/layout.html' %} {% block content %}
<div class="container">
    <h1 class="mt-5">Query 3</h3>
        <p class="lead">
            Top 10 states that have an highest/lowest topic
        </p>
</div>
<br>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel1">Topic:</label>
            <select class="form-control" id="topics" name="topics">
                {% for name in health_domain %}
                <option> {{name}} </option>
                {% endfor %}
            </select>
        </div>
        <button type="sumbit" class="btn btn-success" value="submit" name="search_btn">Next</button>
    </form>
</div>
<br>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel1">Question</label>
            <select class="form-control" id="questions" name="questions">
                {% for question in questions %}
                <option> {{question}} </option>
                {% endfor %}
            </select>
        </div>
        <button type="sumbit" class="{{question_button}}" value="submit" name="search_btn">Next</button>
    </form>
</div>
<br>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sel1">Highest/Lowest</label>
            <select class="form-control" id="final" name="final">
                {% for row in highest_lowest %}
                <option>{{row}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="sumbit" class="{{highest_lowest_button}}" value="submit" name="search_btn">Search</button>
    </form>
</div>
<br>
<h1>{{query_title}}</h1>
<p>{{ans}}</p>

{% endblock %}