{% extends 'home/layout.html' %} {% block content %}
<div class="container">
<div class='container text-center'>
    <h2>Query History</h2>
    <table class='table table-fixed' style="height: 100%; width: 80%; display: inline-block;  height: 400px;
        overflow-y: auto">
        <thead>
            <tr>
                <td>Time Stamp</td>
                <td>Query</td>
            </tr>
        </thead>
        <tbody>
            {% for row in user_history %}
            <tr>
                {% for key,value in row.items %}
                    <td>{{value}}</td>
                {% endfor%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div
</div>
{% endblock %}